$lightBlue : #658ec6;
$darkBlue : #426696;
$white : #fff;

@mixin greenGradient ($param1, $param2) {
    background : linear-gradient(to $param1 $param2, #65dfc9, #6cdbeb);
}

@mixin flexCenter($direction : row, $justify : center, $align : center) {
    display : flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items:  $align;
}
 @mixin progs($number,$percentage) {
    .prog#{$number}::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(236, 236, 236);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: absolute;
        left: $percentage*1%;
    }
 }
