@import 'bg';
@import 'colorsMixins';

/*--------------------------------Dashboard----------------------------------*/

.dashboard {
    flex: 1;
    @include flexCenter(column,space-evenly,center);
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;

    &__links--link{
        display: flex;
        align-items: center;
        margin: 2rem 0;
        padding: 1rem 5rem;

        h2 {
            padding: 0 2rem;
        }
    }
    
    &__pro {
        @include greenGradient(right, top);
        border-radius: 2rem;
        color: $white;
        padding: 1rem;
        margin: 1rem 2rem;
        position: relative;   
        
        img {
            width: 50%;
            height: 100%;
            position: absolute;
            top: -10%;
            right: 10%;
        }

        h2 {
            width: 40%;
            font-weight: 600;
            color: $white;
        }
    }
}


/*--------------------------------Games----------------------------------*/

.games {
    flex: 2;
    margin: .5rem 5rem;
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly;

    &__status {        
        margin-bottom: 3rem;

        input {
            border: none;
            background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
            width: 50%;
            padding: .5rem;
            border-radius: .2rem;
        }
    }

    &__cards--card {
        @include flexCenter(row,space-between,space-between);
        background: linear-gradient(to left top, rgba(255,255,255,.8), rgba(255,255,255,.5));
        border-radius: 1rem;
        margin: 2rem 0;
        padding: 2rem;
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    
        .progressbar {
            @include greenGradient(right, top);
            width: 100%;
            height: 25%;
            border-radius: 1rem;
            position: relative;
            overflow: hidden;
        }
        
        @include progs(1,60);
        @include progs(2,35);
        @include progs(3,90);
    
        .card-info {
            @include flexCenter(column,space-between,space-between);
        }
    
        .percentage {
            font-weight: bold;
        }
    }    
}